*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

ul{
    list-style: none;
    font-style: italic;
}

a{
    text-decoration: none;
    font-weight: 700;
}

body{
   background: #11101e;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px #7a7a7a;
}

header ul{
    display: flex;
}

header ul li{
    padding: 5px;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 60px; 
}   

.title{
    background: -webkit-linear-gradient(left, #8A2387, #E94057);
    background: linear-gradient(left, #8A2387, #E94057);

   -webkit-background-clip: text; 
   -webkit-text-fill-color: transparent;
}

.subtitle{
    font-size: 30px; 
}

#about p{
    max-width: 600px;
    margin: 0 auto;
}

.form{
    width: 40%;
    margin: 0 auto;
}

.form input{
    width: 50%;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.form button{
    width: 15%;
}